.publishedCompanies {
  text-align: center;
  font-size: 120%;
}
.table {
  /* color: rgb(23, 151, 145); */
  font-size: 120%;

  background-size: 75% 50%;
  background-color: rgba(35, 39, 39, 0.5);
}
